<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
 
 <p>
  <strong>Image:</strong>
  <%= image_tag @article.image.thumb.url.to_s %>
</p>

<p>
  <strong>View:</strong>
  <%= @article.view %>
</p>

<%= link_to'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>